@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

html {
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
	color: #0a0a23;
    background: linear-gradient(to right, #3FB6A8, #7ED386);
}

h1 {
	max-width: 37.25rem;
	margin: 0 auto;
	padding: 1.5rem 1.25rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 2em;
}

h1 .flex {
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
	font-size: 0.7em;
}
th.description{
	font-weight: normal;
	font-style: italic;
	display: block;
	padding: 1rem 0 0.75rem;
	margin-right: -13.5rem;
}

section {
	max-width: 40rem;
	margin: 0 auto;
	border: 1px solid black;
}

.table-wrap {
	padding: 0 0.75rem 1.5rem 0.75rem;
}

table {
	border-collapse: collapse;
	border: 0;
	width: 100%;
	position: relative;
}

tbody td {
	width: 100vw;
	min-width: 4rem;
	max-width: 4rem;
}

tbody th {
	width: cal(100% - 12rem);
}
tr.total{
	color:aliceblue
}

tr.total,tr.data-total {
	border-bottom: 4px double #0a0a23;
	font-weight: bold;
}
tr.total,tr.data-total th {
	text-align: left;
	padding: 0.5rem 0 0.25rem 0.5rem;
}

tr.total td,tr.data-total td {
	text-align: right;
	padding: 0 0.25rem;
}

tr.total td:last-of-type,tr.data-total td:last-of-type {
	padding-right: 0.5rem;
}

tr.total:hover{
	background-color: #99c9ff;
}

td.current {
	font-style: italic;
}

tr th.name {
	color: #000 !important;
	font-size: 1em !important;
	font-weight: bold !important;
}

tr.data th {
	text-align: left;
	padding-left: 0.5rem;
}

tr.data th .description {
	display: block;
	font-weight: normal;
	font-style: italic;
	padding: 1rem 0 0.75rem;
	margin-right: -13.5rem;
}

tr.data td {
	vertical-align: top;
	padding: 0.3rem 0.25rem 0;
	text-align: right;
}

tr.data td:last-of-type {
	padding-right: 0.5rem;
}
a{
    padding-left: 40px;
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 2px;
    text-decoration: none;
}
.btn {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    color: black;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-right: auto;
    margin-left: auto;
	background: transparent;
}

.btn:focus {
    border-color: white;
}